---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: authentik
  namespace: authentik
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`{{ .Values.hosts.authentik }}`)
      priority: 10
      services:
        - name: authentik-server
          port: 80
  tls:
    secretName: authentik-tls
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: authentik-https-redirect
  namespace: authentik
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: authentik-http
  namespace: authentik
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`{{ .Values.hosts.authentik }}`) && !PathPrefix(`/.well-known/acme-challenge/`)
      middlewares:
        - name: authentik-https-redirect
      services:
        - name: authentik-server
          port: 80
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: authentik-tls
  namespace: authentik
spec:
  secretName: authentik-tls
  issuerRef:
    name: {{ .Values.cert_manager.cert_issuer }}
    kind: ClusterIssuer
  dnsNames:
    - {{ .Values.hosts.authentik }}
