---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana
  namespace: monitoring
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`{{ .Values.hosts.grafana }}`)
      priority: 10
      services:
        - name: grafana
          port: 80
  tls:
    secretName: grafana-tls
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: grafana-https-redirect
  namespace: monitoring
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: grafana-http
  namespace: monitoring
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`{{ .Values.hosts.grafana }}`) && !PathPrefix(`/.well-known/acme-challenge/`)
      middlewares:
        - name: grafana-https-redirect
      services:
        - name: grafana
          port: 80
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: grafana-tls
  namespace: monitoring
spec:
  secretName: grafana-tls
  issuerRef:
    name: letsencrypt-staging
    kind: ClusterIssuer
  dnsNames:
    - {{ .Values.hosts.grafana }}