{{- if .Values.infrastructure.longhorn.enabled }}
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`{{ .Values.global.longhornDomain }}`)
      priority: 10
      services:
        - name: longhorn-frontend
          port: 80
  tls:
    secretName: longhorn-tls
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: longhorn-https-redirect
  namespace: longhorn-system
spec:
  redirectScheme:
    scheme: https
    permanent: true
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: longhorn-http
  namespace: longhorn-system
spec:
  entryPoints:
    - web
  routes:
    - kind: Rule
      match: Host(`{{ .Values.global.longhornDomain }}`) && !PathPrefix(`/.well-known/acme-challenge/`)
      middlewares:
        - name: longhorn-https-redirect
      services:
        - name: longhorn-frontend
          port: 80
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: longhorn-tls
  namespace: longhorn-system
spec:
  secretName: longhorn-tls
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  dnsNames:
    - {{ .Values.global.longhornDomain }}
{{- end }}
